## Index
1. [Importing Essential Libraries](#libraries)
2. [Data Summarization](#data_summarization)
3. [Exploratory Data Analysis](#eda)
4. [Data Preparation](#dataprep)
5. [Hypertuning of Parameters](#hypertune)




<hr>

## Dataset Source

Dataset is obtained from [here](https://www.kaggle.com/datasets/csafrit2/predicting-divorce?resource=download)

<hr>

<a id='libraries'></a>
## 1. Importing Essential Libraries

*Import libraries needed for data preparation, visualisation and modelling*

In [2]:
import sys
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import matplotlib.ticker as ticker
from matplotlib.ticker import AutoMinorLocator
import seaborn as sns
import scipy.stats as stats

def suppress_warnings():
    import warnings
    warnings.filterwarnings('ignore')
    if not sys.warnoptions:
        warnings.simplefilter("ignore")
    warnings.filterwarnings('ignore', category=DeprecationWarning)
    warnings.filterwarnings('ignore', category=FutureWarning)
suppress_warnings()

*Import libraries needed for Machine Learning*

In [3]:
from sklearn import tree, linear_model, neighbors, naive_bayes, ensemble, model_selection, gaussian_process, datasets, preprocessing, discriminant_analysis
from sklearn import svm  #support vector Machine
from sklearn.tree import DecisionTreeClassifier  #Decision Tree
from sklearn.linear_model import LogisticRegression  #logistic regression
from sklearn.neighbors import KNeighborsClassifier  #KNN
from sklearn.naive_bayes import GaussianNB  #Naive bayes
import xgboost as xgb
from xgboost import XGBClassifier #XGBoost
from sklearn.ensemble import GradientBoostingClassifier  #GBM algorithm
from sklearn.ensemble import RandomForestClassifier, VotingClassifier  #Random Forest, Ensemble VotingClassifier
from sklearn.model_selection import train_test_split  #training and testing data split
from sklearn.model_selection import KFold  #for K-fold cross validation
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
from sklearn import metrics  #accuracy measure
from sklearn.metrics import confusion_matrix  #for confusion matrix
from sklearn.metrics import roc_curve, auc #for roc curve
from scipy.stats import skew
from scipy.stats.stats import pearsonr
suppress_warnings()

<a id='data_summarization'></a>
## 2. Data Summarization


### 2.1 Statistical Summaries & Visualizations

In [4]:
df = pd.read_csv("divorce.csv")
df.head(5)

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,...,silence_for_harm,silence_fear_anger,I'm_right,accusations,I'm_not_guilty,I'm_not_wrong,no_hesitancy_inadequate,you're_inadequate,incompetence,Divorce_Y_N
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 55 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Sorry_end                      170 non-null    int64
 1   Ignore_diff                    170 non-null    int64
 2   begin_correct                  170 non-null    int64
 3   Contact                        170 non-null    int64
 4   Special_time                   170 non-null    int64
 5   No_home_time                   170 non-null    int64
 6   2_strangers                    170 non-null    int64
 7   enjoy_holiday                  170 non-null    int64
 8   enjoy_travel                   170 non-null    int64
 9   common_goals                   170 non-null    int64
 10  harmony                        170 non-null    int64
 11  freeom_value                   170 non-null    int64
 12  entertain                      170 non-null    int64
 13  people_goals                   170 non-null    int64
 14  dreams                         170 non-null    int64
 15  love                           170 non-null    int64
 16  happy                          170 non-null    int64
 17  marriage                       170 non-null    int64
 18  roles                          170 non-null    int64
 19  trust                          170 non-null    int64
 20  likes                          170 non-null    int64
 21  care_sick                      170 non-null    int64
 22  fav_food                       170 non-null    int64
 23  stresses                       170 non-null    int64
 24  inner_world                    170 non-null    int64
 25  anxieties                      170 non-null    int64
 26  current_stress                 170 non-null    int64
 27  hopes_wishes                   170 non-null    int64
 28  know_well                      170 non-null    int64
 29  friends_social                 170 non-null    int64
 30  Aggro_argue                    170 non-null    int64
 31  Always_never                   170 non-null    int64
 32  negative_personality           170 non-null    int64
 33  offensive_expressions          170 non-null    int64
 34  insult                         170 non-null    int64
 35  humiliate                      170 non-null    int64
 36  not_calm                       170 non-null    int64
 37  hate_subjects                  170 non-null    int64
 38  sudden_discussion              170 non-null    int64
 39  idk_what's_going_on            170 non-null    int64
 40  calm_breaks                    170 non-null    int64
 41  argue_then_leave               170 non-null    int64
 42  silent_for_calm                170 non-null    int64
 43  good_to_leave_home             170 non-null    int64
 44  silence_instead_of_discussion  170 non-null    int64
 45  silence_for_harm               170 non-null    int64
 46  silence_fear_anger             170 non-null    int64
 47  I'm_right                      170 non-null    int64
 48  accusations                    170 non-null    int64
 49  I'm_not_guilty                 170 non-null    int64
 50  I'm_not_wrong                  170 non-null    int64
 51  no_hesitancy_inadequate        170 non-null    int64
 52  you're_inadequate              170 non-null    int64
 53  incompetence                   170 non-null    int64
 54  Divorce_Y_N                    170 non-null    int64
dtypes: int64(55)
memory usage: 73.2 KB

In [7]:
df.describe()

,Sorry_end,Ignore_diff,begin_correct,Contact,Special_time,No_home_time,2_strangers,enjoy_holiday,enjoy_travel,common_goals,...,silence_for_harm,silence_fear_anger,I'm_right,accusations,I'm_not_guilty,I'm_not_wrong,no_hesitancy_inadequate,you're_inadequate,incompetence,Divorce_Y_N
count,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,...,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000,170.000000
mean,1.776471,1.652941,1.764706,1.482353,1.541176,0.747059,0.494118,1.452941,1.458824,1.576471,...,2.552941,2.270588,2.741176,2.382353,2.429412,2.476471,2.517647,2.241176,2.011765,0.494118
std,1.627257,1.468654,1.415444,1.504327,1.632169,0.904046,0.898698,1.546371,1.557976,1.421529,...,1.371786,1.586841,1.137348,1.511587,1.405090,1.260238,1.476537,1.505634,1.667611,0.501442
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,0.000000
50%,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,...,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,2.000000,0.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,1.000000

### 2.2 Correlation Matrix

<a id='eda'></a>
## 3. Exploratory Data Analysis

<a id='dataprep'></a>
## 4. Data Preparation

<a id='hypertune'></a>
## 5. Hypertuning of Parameters